    .HP2 { max-width:100%;
        max-height:100%;}

    body { margin: 0; }
    
    .container {
        width: 80%;
        margin: 0 auto;}
        
    
    .index {
        background-color: rgb(0, 0, 0);
        padding: 0px;}

    .Hpark {
        background-color: rgb(0, 0, 0);
        padding: 0px;
    }
    
    .logo {
        float: left;
        font-family: 'Playfair Display SC', serif;
        font-size: 22px;
        color: rgb(190, 162, 36);
        margin-top: 6px;
        padding: 10px 0 0 6px;
        text-decoration: underline;
        
    }
    
    .indexnav {
        float: right;
        margin-right: 122px;
        
    }
    
    .index::after {
        content: '';
        display: table;
        clear: both;
    }
    
    .indexnav .indexul {
        top: 10px;
        margin: 0;
        padding: 20px;
        list-style: none;
    }
     
    .indexnav .indexli {
        display: inline-block;
        margin-top: -20px;
        margin-left: 50px;
        padding-top: 20px;
        position: relative;
        padding-right: 0px;
        
    }

    .indexnav .indexa { 
        color:rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Barlow Semi Condensed', sans-serif;
        margin-left: 0px;
        font-size: 20px;
        font-weight: 70%;
        letter-spacing: 0.3px;
    }

    .indexnav .indexa:hover {
        color: rgb(190, 162, 36);;
    }

    .indexnav .indexa::before {
        content: '';
        display: block;
        height: 5px;
        background-color: rgb(190, 162, 36);
        position: absolute;
        top: 0;
        width: 0%;
    }

    .indexnav .indexa:hover::before {
        width: 100%;
    }

    footer {
        background: black;
        padding: 10px;
        margin-top: -3px;
        color: white;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 15px;
        text-align: center;
        font-weight: normal;
        position:fixed;
        bottom:0;
        left:0;
        right:0;
    }
        
    
    .cxlogo {right: 0px;
        width: 60px;
        height: 60px;
    position: absolute;
    }


    .HPFILL1 {
        width: 100%;
        height: 62em;
        position: relative;
    }

    .hp-container {
        width: 80%;
        margin: 0 auto;
    }

    .indexli1:hover {
        transform: scale(1.1);
        cursor: pointer;
       
    }

    .indexli1 {
        display: inline-block;
        margin-top: -15px;
        margin-left: 16px;
        padding-top: 0px;
        position: relative;
        padding-right: 1.3px;
        padding-top: 17px;
        
    }
   
    .liimg1 { 
        width: 206px;
        height: 186px;
        border-radius: 40px;
        margin-right: 28px;
        padding-right: 6.3px;
        margin: 10px;
       
   
    }

   .indexa1{ 
       text-decoration: none;
   }

   .indexul1 {
       position: relative;
       padding-block: 10px;
       float: top;
       background-image: linear-gradient(rgba(255, 255, 255, 0.678), rgba(133, 131, 131, 0.603));
       right: -4px;
       padding-right: 10px;
       margin-left: -7px;
       
   }

   .indexnav1 {
    position: absolute;
    margin-top: -2px;
    white-space: nowrap;
   }

   #map {
    width: 50%;
    height: 90.8em;
    background-color: grey;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    margin-bottom: 0px;
    margin-top: 230px;
    padding-top: 0px;
    border: rgb(0, 0, 0);
    border-style: outset;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    }
 
    #firstHeading {
        font-weight: bold;
        font-size: 16px;
        font-family: 'Abel', sans-serif;
    }

    #content {
        margin-top: 4px;
    }

    #bodycontent p {
        font-size: 13px;
    }

    #hpmap {
        color: red;
        font-size: 14px;
    }